/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.float-right{
  float: right;
}

.float-left{
  float: left;
}

.border-orange{
  background-color: orange;
  border-radius: 20px;
  color: white;
  padding: 10px;
}

.border-white{
  background-color: white;
  border-radius: 20px;
  color: orange;
}

}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}



/* fine regole generali */

.container{
  width: 100%;
  height: 2000px;
  margin: auto;
  /* background-color: yellow; */
}

.container-small{
  width: 80%;
  margin: 0 auto;
}

.header-top{
  /* width: 80%; */
  height: 80px;
  background-color: lightblue;

}

.header-bottom{
  /* width: 80%; */
  height: 80px;

}

.top-left{
  height: 100%;
  width: 30%;
  padding: 30px;

}

.top-right{
  height: 100%;
  width: 30%;
  padding: 30px;

}

.top-right nav ul li{
  display: inline;
  padding: 10px;
  margin-top: 10px;
}

.top-left a{
  text-decoration: none;
  color: black;
}

hr{
  border: 1px solid black;
}

/* inizio parte bottom */
.bottom-left{
  height: 100%;
  width: 50%;
  padding: 30px;
  background-color: white;
}

.bottom-right{
  height: 100%;
  width: 50%;
  background-color: white;
}

.bottom-right ul{
  padding: 30px;
  margin-left: 100px;

}

.bottom-right ul li{
  text-decoration: none;
  display: inline;
}

.bottom-right ul li a{
padding: 10px;
text-decoration: none;
color: black;
}

.jumbotron{
  width: 80%;
  /* height:600px; */
  margin: auto;
  position: relative;
  background-color: #fff4ef;
}

h1{
  font-size: 50px;
}

.testo{
  width: 50%;
  position: absolute;
  top: 40%;
  left: 0;
  transform: translateY(-40%);

}

.testo li {
  list-style: none;
  margin-top: 30px;
  border-radius: 20px;

}

.testo li a{
  text-decoration: none;
}

.testo h2{
  padding-top: 10px;
}

.testo h3{
  padding-top: 20px;
}


.img-jumbotron{
  background-image: url('../img/jumbotron.png');
  width: 100%;
  height: 550px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 110% ;

}

.linea{
  background-color: black;
  font-size: 3px;
}

.line-lightblue{
  border-bottom: 2px solid black;
  width: 100%;
  height: 100px;;
  background-color: #afebe4;

}
