/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;

}

.float-right{
  float: right;
}

.float-left{
  float: left;
}

.border-orange{
  background-color: #FF8E59;
  border-radius: 10px;
  color: white;
  padding: 10px;
}

.border-white{
  background-color: white;
  border-radius: 20px;
  color: orange;
  padding: 10px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

a{
  text-decoration: none;
}

.learn-more{
  padding: 30px;
  margin-left: 150px;
  background-color: #FF8E59;
  border-radius: 5px;

}

.learn-more a{
  color: white;
}

/* fine regole generali */

.container{
  width: 100%;
  margin: auto;

}

.container-small{
  width: 80%;
  margin: 0 auto;
}

.header-top{
  width: 100%;
  height: 80px;
  line-height: 80px;
  background-color: white;
  position: fixed;
  left: 10%;
  z-index: 1;
  top: 0;
  left: 0;
  margin: auto;
}

.header-bottom{
  width: 100%;
  border-top: 1px solid black;
  height: 80px;
  margin-top: 80px;
}

.top-left{
  height: 100%;
  width: 30%;

  text-align: left;
  margin-left: 200px;
}

ul li {
  display: inline-block;
}

.top-right{
  height: 100%;
  width: 30%;

  text-align: right;
  margin-right: 200px;
}

.top-right nav ul li{
  display: inline;
  padding: 10px;
  margin-top: 10px;
}

.top-left a{
  color: black;
}

hr::after{
  border: 1px solid black;
}

/* inizio parte bottom */
.bottom-left{
  height: 100%;
  width: 50%;
  padding: 30px;
  margin-left: 190px;
  background-color: white;
}

.bottom-right{
  margin-top: 30px;
}

.bottom-right ul li{
  margin-left: 15px;
}

.bottom-right ul li{
  display: inline;
}

.bottom-right ul li a{
padding: 10px;
text-decoration: none;
color: black;
}

.jumbotron{
  width: 100%;
  height:700px;
  margin: auto;
  position: relative;
  background-color: #fff4ef;
  background-image: url('../img/jumbotron.png');
  background-position: 110% 120%;
  background-repeat: no-repeat;
  box-shadow: inset 0 10px 8px -0.5px rgba(0, 0, 0, 0.18);

}

.jumbotron::before{
  width: 100%;
  height: 80px;
  background-color: #aceae3;
  border-top: 3px solid #306a72;
  border-top: 3px solid #306a72;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
}

h1{
  font-size: 50px;
}

.testo{
  width: 50%;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}

.testo li {
  list-style: none;
  margin-top: 30px;
  border-radius: 20px;
}

.testo li a{
  text-decoration: none;
}

.testo h2{
  padding-top: 10px;
}

.testo h3{
  padding-top: 20px;
}

/* inizio main */
main{
  background-color: white;
}
/* inizio sezione 1 */
.first-section{
  width: 65%;
  background-color: white;
  margin: auto;
  margin-top: 50px;
}

.cubo{
  height: 350px;
  background-image: url('../img/cubo.webp');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 30%;
  margin-top: 0;

}

.first-section h1{
  text-align: center;
  line-height: 1.6;

}

.first-section h3{
  text-align: center;
  line-height: 1.6;
}


/* inizio sezione 2 */
.second-section{
  width: 80%;
  height: 400px;
  background-color: white;
  margin: auto;
  margin-top: 50px;
  box-shadow: inset 5px 5px 5px -0.5px rgba(0, 0, 0, 0.1);

}

.img-book{
  height: 50%;
  width: 15%;
  background-image: url(https://www.hubspot.com/hubfs/assets/hubspot.com/_style-guide/sword-sprocket/CRM-Illustration.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 30px;
}

.testo-second-section{
  text-align: left;
  line-height: 3;
}

.barra::after{
  content: "";
  display: block;
  float: right;
  width: 60%;
  height: 3px;
  margin-top: 25px;
  background-color: #33475b;
}

h5{
  text-transform: uppercase;
  font-size: 15px;
}

.testo-second-section ul li i{
  padding: 15px;
  color: #FF8E59;
  margin-top: 20px;
}


/* inizio sezione 3 */

.third-section{
  width: 80%;
  height: 800px;
  margin: auto;
  margin-top: 50px;
}
/* start markeeting hub */
.marketing{
  width: 30%;
  height: 100%;
  background-image: url('https://www.hubspot.com/hubfs/Marketing-Hub-Free.svg');
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: top center;

}

/* <!-- parte top --> */
.testo-marketing-top{
  margin-top: 250px;
  text-align: center;
  line-height: 1.6;
}

.testo-marketing-top h2{
  margin-bottom: 30px;
}

.testo-marketing-top h3{
  margin-bottom: 40px;
}

.testo-marketing-top hr{
  border: 1px solid black;

}
/* <!-- parte bottom --> */


.testo-marketing-bottom h2{
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
}

.testo-marketing-bottom ul li{
  display: block;
  padding: 5px;
  margin-left: 50px;

}

.testo-marketing-bottom ul{
  margin-bottom: 60px;
}


.testo-marketin .button .border-orange{
  margin-top: 20px;
}

.testo-marketing-bottom ul li i{
  color: #FF8E59;
  padding: 5px;
}

/* finish markeeting hub */


/* start sales */
.sales{
  width: 30%;
  height: 100%;
  background-image: url('https://www.hubspot.com/hubfs/assets/hubspot.com/_style-guide/sword-sprocket/Sales-Professional-Illustration.svg');
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: top center;
    margin: 0 5%;
}

/* parte top */
.testo-sales-top{
  margin-top: 250px;
  text-align: center;
  line-height: 1.6;
}

.testo-sales-top h2{
  margin-bottom: 30px;
}

.testo-sales-top h3{
  margin-bottom: 40px;
}

.testo-sales-top hr{
  border: 1px solid black;

}

/* parte bottom */
.testo-sales-bottom h2{
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
}

.testo-sales-bottom ul li{
  display: block;
  padding: 5px;
  margin-left: 50px;

}

.testo-sales-bottom ul{
  margin-bottom: 60px;
}


.testo-sales .button .border-orange{
  margin-top: 20px;
}

.testo-sales-bottom ul li i{
  color: #FF8E59;
  padding: 5px;
}

/* finish sales */


/* start service */
.service{
  width: 30%;
  height: 100%;
  background-image: url('https://www.hubspot.com/hubfs/assets/hubspot.com/_style-guide/sword-sprocket/Service-Hub-Illustration.svg');
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: top center;

}

/* parte top */
.testo-service-top{
  margin-top: 250px;
  text-align: center;
  line-height: 1.6;
}

.testo-service-top h2{
  margin-bottom: 30px;
}

.testo-service-top h3{
  margin-bottom: 40px;
}

.testo-service-top hr{
  border: 1px solid black;

}

/* parte bottom */
.testo-service-bottom h2{
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
}

.testo-service-bottom ul li{
  display: block;
  padding: 5px;
  margin-left: 50px;

}

.testo-service-bottom ul{
  margin-bottom: 60px;
}


.testo-service .button .border-orange{
  margin-top: 20px;
}

.testo-service-bottom ul li i{
  color: #FF8E59;
  padding: 5px;
}
/* finish service */
/* <!-- finish third section --> */

/* <!-- start fourth section --> */

.fourth-section{
  width: 100%;
  background-image: linear-gradient(to left, #00acb5,#00b2af,#00b6ab,#00bda5);
}

.img-book{
  margin-bottom: 10px;
}

.content{
  width: 80%;
  margin: auto;
}

.testo-content{
  text-align: center;
  margin-top: 30px;
  padding: 10px;
  color: white;
}

.testo-content h3{
  padding-top: 20px;
  border-bottom: 50px;
}

.date{
  width: calc(100% / 4);
  /* margin-top: 20px; */
  text-align: center;
  color: white;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  padding: 10px;
}

.date:nth-child(5n+0){
  border-right: 0px;
}

.date:last-child{
  border-right: 0px;
}

.date:nth-child(6n+0){
  border-bottom: 0px;
}

.date:nth-child(7n+0){
  border-bottom: 0px;
}

.date:nth-child(8n+0){
  border-bottom: 0px;
}

.date:nth-child(9n+0){
  border-bottom: 0px;
}
.date h2{
  font-size: 50px;
  margin-bottom: 20px;
}

.date h3{
  font-size: 15px;
}

/* <!-- finish fourth section --> */

  /* <!-- start fifth section -->*/
.fifth-section{
  width: 80%;
  margin: auto;
  }
.fifth-section .top-left{
  width: 300px;
  height: 20%;
  margin-top: 50px;
  }

.fifth-section .top-left h2{
  font-size: 250%;
  text-align: center;
  }
.fifth-section .top-left h3{
  text-align: center;
  padding-top: 20px;
  }

.fifth-section .top-right{
  width: 800px;
  margin-top: 50px;
  }

.fifth-section-img{
  width: 150px;
  text-align: center;
  margin-right: 30px;
  margin-bottom: 10px;
}

.fifth-section-img img{
  width: 100%;
  height: 100%;
  background-size: 100%;
}




/* start bottom */
.fifth-section .bottom-left{
  width: 500px;;
  height: 400px;
  margin-top: 50px;

}

.fifth-section .bottom-left h3{
  margin-top: 20px;
  margin-bottom: 50px;

}

.fifth-section .bottom-left h4{
  margin-top: 50px;
}

.fifth-section-button{
  background-color: #FF8E59;
  border-radius: 10px;
  padding: 20px;

}

.fifth-section-button a{
  color: white;
}

.fifth-section .bottom-right{
  width: 40%;
  height: 400px;
  margin-top: 20px;
  margin-right: 60px;
}

.fifth-section .bottom-right .immagine{
  background-image: url('https://cdn2.hubspot.net/hubfs/53/assets/hubspot.com/_style-guide/sg-module-images/10@2x.png');
  width: 100%;
  height: 100%;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: right;

}

/* <!-- end fifth section -->*/
/* start footer */
footer{
  width: 100vw;
  background-color: #2D3E50;
}

.footer-top{
  width: 80%;
  margin: auto;
}

.column{
  width: 300px;
  margin-left: 60px;
  margin-top: 15px;
  text-align: center;

}

.column ul li {
  display: block;
  margin-top: 15px;
  padding: 5px;
}

.column ul li a{
  color: white;
}

.column li a:hover{
  color: red;
}

.column .button-support{
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  color: #2D3E50;
}

.column .icon i{
  padding: 10px;
}

.column .icon i:hover{
  color: lightblue;
}

/* start footer bottom */
.footer-bottom{
  width: 80%;
  margin: auto;
}

.footer-bottom .top{
  text-align: center;

}

.footer-bottom .top li a{
  padding: 10px;
}

.footer-bottom hr{
  border: 1px solid white;
  margin-top: 10px;
}

.footer-bottom ul li a{
  color: white;
}

.footer-bottom .copyright{
  width: 300px;
  margin-top: 20px;
}

.copyright h5{
  color: white;
}

.footer-bottom .privacy-policy{
  width: 300px;
  margin-top: 20px;
  text-align: right;
  padding: 10px;
}

.footer-bottom .privacy-policy li a{
  padding: 10px;
}

/* fine main */
/* end :)  */
